@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  color: $black;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Permanent Marker', cursive;    
}

p {
  text-align: justify;
  line-height: 1.5em;
}

footer {
  background-color: $black;
  color: $soft-grey;
}

.main-section {
  padding: 20px;
}

.date {
  color: $red;   
}

.datetime {
    width: 50px;
    height: 50px;
    background: $red;
    border-radius: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 10px;
  }

  .year {
    font-family: 'Permanent Marker', cursive;
    font-size: .8em;
    padding-top: 10px;
  }

  .month {
    font-family: 'Permanent Marker', cursive;
    font-size: .5em;
  }

  .day {
    font-family: 'Permanent Marker', cursive;
    font-size: .8em;
 }
