html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  color: $black;
  font-size: 100%;
}

p {
  text-align: justify;
  line-height: 1.5em;
}

footer {
  background-color: $black;
  color: $soft-grey;
}

.date {
  color: $red;   
}
