@media screen and (min-width: 769px) {

  .main-header {
    h1 {
      text-align: center;
      padding-top: 20px;
    }
      
    button {
      display: none;
    }
  }
    
  .main-navigation {
    transform: translate(0, 0);

    li {
      display: inline-block;
      width: 200px;
      height: 40px;
      border-right: 1px solid $black;
      border-bottom: 0;
      text-align: center;
      line-height: 30px;
      text-transform: uppercase;
    }
      
    li:hover {
      background-color: $red;
    }
      
    a:hover {
      color: $soft-grey;    
    }
      
    button {
      display: none;   
    }
  } 
    
  body {
    overflow-x: hidden;
  }
    
  .datetime {
    position: absolute;
    right: 0;
    left: 500px;
    width: 150px;
    height: 150px;
    background: $red;
    border-radius: 100px;
    margin-left: -200px;
    text-align: center;
    line-height: 30px;
  }

  .year {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    padding-top: 30px;
  }

  .month {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
  }

  .day {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
 }
    
  .main-section {
    box-sizing: border-box;
    width: 50%;
    margin: 0 auto;
  }
    
  aside {
    display: none;
    vertical-align: top;
    width: 200px;
    padding: 10px;
    position: absolute;
    left: 1350px;
    top: 80px;
  }
    
  footer {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
}
